<!DOCTYPE html>
<html>
    <head>
        <meta charset="=UTF-8">
        <title> Fun Website</title>
    </head>
    <body>
        

        <h1>Welcome</h1>
        <h2>{{ tagLine }}</h2>
        <ol> <h2> Here is the fun things that you can do:</h2>
            <li>    Today Date : http:localhost/today/ </li>
            <li>    Get a Password: http:localhost/random/password/ </li>
            <li>    find out about my fav. games: http:localhost/favs/games/ </li>
        </ol>



    </body>
</html>